/* common */
body {
  color: #434343;
  background-color: #f8f8f8;
}

img {
  width: 100%;
}

a:hover {
  opacity: .7;
}

h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

/****************************
header
*****************************/

header {
  padding: 0 80px;
  height: 80px;
  width: 100%;
  background-color: #3F3F3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon--x {
  width: 32px;
  height: 32px;
  background-color: aqua;
}

.header__icon--github {
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.header__icon--qiita {
  width: 48px;
  height: 14.63px;
  background-color: aqua;
}

/****************************
main
*****************************/

.main {
  padding-top: 184px;
  height: 620px;
  width: 100%;
  text-align: center;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
}

.main h1 {
  margin: 0 auto;
  margin-bottom: 72px;
  height: 70px;
  width: 400px;
  line-height: 70px;
}

.main h2 {
  margin: 0 auto;
  height: 70px;
  width: 366px;
  line-height: 70px;
}



