/****************************
common
****************************/
body {
  color: #434343;
  background-color: #f8f8f8;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
a:hover {
  opacity: .7;
}
h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}
p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

/****************************
connection
*****************************/
.main__about {
  margin-top: 124px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #4C5C96;
  border-bottom: 50px solid #4C5C96;
}
.about__service {
  width: 0;
  height: 0;
  border-top: 50px solid #4C5C96;
  border-left: 50vw solid #45558D;
  border-right: 50vw solid #4C5C96;
  border-bottom: 50px solid #45558D;
}
.service__work {
  width: 0;
  height: 0;
  border-top: 50px solid #45558D;
  border-left: 50vw solid #45558D;
  border-right: 50vw solid #3F4E85;
  border-bottom: 50px solid #3F4E85;
}
.work__contact {
  width: 0;
  height: 0;
  border-top: 50px solid #3F4E85;
  border-left: 50vw solid #2E3141;
  border-right: 50vw solid #3F4E85;
  border-bottom: 50px solid #2E3141;
}

/****************************
header
*****************************/
.header {
  padding: 0 80px;
  height: 80px;
  width: 100%;
  background-color: #3F3F3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon--x {
  width: 32px;
  height: 32px;
}
.header__icon--github {
  width: 40px;
  height: 40px;
}
.header__icon--qiita {
  width: 48px;
  height: 30px;
}

/****************************
main
*****************************/
.main {
  padding-top: 184px;
  height: calc(520px + 100px); /* MEMO:100pxは斜めの高さ */
  width: 100%;
  text-align: center;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
}
.main h1 {
  margin: 0 auto;
  margin-bottom: 72px;
  height: 70px;
  width: 400px;
  line-height: 70px;
  letter-spacing: 0.2em;
}
.main h2 {
  margin: 0 auto;
  height: 70px;
  width: 366px;
  line-height: 70px;
}

/****************************
about
*****************************/
.about {
  width: 100%;
  height: 400px;
  background-color: #4C5C96;
}
.about__container {
  margin: 0 auto;
  width: 76%;
  max-width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  /* width: 574px; */
  width: 65%;
  height: 229px;
}
.about__content h2 {
  margin-bottom: 19px;
  padding-bottom: 19px;
  text-align: right;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 0.1em;
}
.about__content h3 {
  margin-bottom: 19px;
  text-align: right;
}
.about__content p {
  margin-bottom: 16px;
  line-height: 1.4;
}
.about__btn {
  text-align: right;
}
.about__btn img {
  width: 20px;
  height: 20px;
}
.about__btn a {
  display: inline-block;
}
.about__img {
  width: 28%;
  aspect-ratio: 1 / 1;
}
.about__img img {
  border-radius: 50%;
}

/****************************
service
*****************************/
.service {
  width: 100%;
  height: 400px;
  background-color: #45558D;
}
.service__container {
  margin: 0 auto;
  width: 76%;
  max-width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 28%;
  aspect-ratio: 1 / 1;
}
.service__img img {
  border-radius: 50%;
}
.service__content {
  /* width: 574px; */
  width: 65%;
  height: 250px;
}
.service__content h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}
.service__explanation ul {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.service__explanation ul li {
  width: 180px;
}
.service__item--title {
  margin-bottom: 16px;
  height: 42px;
  display: flex;
  align-items: center;
  position: relative;
}
.service__item--title h3 {
  display: block;
  width: 100%;
  text-align: center;
}
.accordion__btn {
  display: none;
}
.accordion__btn2 {
  display: none;
}
.service__item--text {
  display: flex;
  height: 115px;
}


/****************************
work
*****************************/
.work {
  width: 100%;
  height: 400px;
  background-color: #3F4E85;
}
.work__container {
  margin: 0 auto;
  width: 76%;
  max-width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work__content {
  /* width: 574px; */
  width: 65%;
  height: 329px;
}
.work__content h2 {
  margin-bottom: 19px;
  padding-bottom: 19px;
  text-align: right;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 0.1em;
}
.work__explanation {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.work__item {
  /* width: 180px; */
  /* height: 180px; */
  width: 32%;
  aspect-ratio: 1 / 1;
  overflow:hidden;
}
.work__item a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1.0;
}
.work__img {
  width: 28%;
  aspect-ratio: 1 / 1;
}
.work__img img {
  border-radius: 50%;
  overflow:hidden;
}
.work__item img:hover {
  transform:scale(1.1,1.1);
  transition:1s all;
}
.work__btn {
  text-align: right;
}
.work__btn img {
  width: 20px;
  height: 20px;
}
.work__btn a {
  display: inline-block;
}

/****************************
contact
*****************************/
.contact {
  padding-top: 40px;
  width: 100%;
  height: 650px;
  background-color: #2E3141;
}
.contact__container {
  margin: 0 auto;
  width: 400px;
  height: 585px;
}
.contact h2 {
  margin-bottom: 62px;
  text-align: center;
}
.contact form {
  height: 472px;
}
.contact__item {
  margin-bottom: 30px;
  width: 100%;
  height: 76px;
}
.contact__item:nth-of-type(3) {
  margin-bottom: 44px;
  height: 174px;
}
.contact__item p {
  margin-bottom: 8px;
}
input {
  width: 100%;
  height: 44px;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
}
textarea {
  width: 100%;
  height: 142px;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
}
input[type="submit"]{
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

/****************************
footer
*****************************/
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F3F3F;
}


/****************************
about.htmlとwork.htmlの背景
***********************************************/
.bg {
  width: 100%;
  height: 100%;
}
.bg1 {
  width: 100%;
  height: 400px;
  background-color: #4C5C96;
}
.bg2 {
  width: 100%;
  height: 400px;
  background-color: #45558D;
}
.bg3 {
  width: 100%;
  height: 400px;
  background-color: #3F4E85;
}
.bg1-2 {
  width: 0;
  height: 0;
  border-top: 50px solid #4C5C96;
  border-right: 50vw solid #45558D;
  border-left: 50vw solid #4C5C96;
  border-bottom: 50px solid #45558D;
}
.bg2-3 {
  width: 0;
  height: 0;
  border-top: 50px solid #45558D;
  border-right: 50vw solid #45558D;
  border-left: 50vw solid #3F4E85;
  border-bottom: 50px solid #3F4E85;
}


/****************************
about.html
***********************************************/
.about__top {
  width: 100%;
  height: 100%;
  position: relative;
}
.breadcrumb-trail {
  margin: 48px 0 0 124px;
}
.about__top--content {
  width: 100%;
  height: 1400px;
  position: absolute;
  top: 0;
  right: 0;
}
.about__top--content h1 {
  margin: 120px 0 260px 0;
  display: grid;
  place-content: center;
}
.about__top--text {
  margin-bottom: 150px;
  width: 880px;
  margin-inline: auto;
}
.about__top--text p {
  margin-bottom: 8px;
}
.about__top--explanation {
  margin-bottom: 300px;
  width: 880px;
  height: 240px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.about__top--img {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
}
.about__top--img img {
  border-radius: 100vmax;
}
.about__top--explanation-box {
  width: 545px;
  height: 100%;
  display: flex;
}
.about__top--box1 {
  width: 120px;
}
.about__top--box1 p,
.about__top--box2 p,
.about__top--box2 div {
  margin-bottom: 19px;
}
.about__top--box2 div a {
  margin-right: 16px;
}
.about__top--btn {
  width: 240px;
  height: 40px;
  margin-inline: auto;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
}
.about__top--btn a {
  padding: 8px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 0.4em;
}

