/* common */
body {
  color: #434343;
  background-color: #f8f8f8;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

a:hover {
  opacity: .7;
}

h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h2 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

/****************************
header
*****************************/
header {
  padding: 0 80px;
  height: 80px;
  width: 100%;
  background-color: #3F3F3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon--x {
  width: 32px;
  height: 32px;
  background-color: aqua;
}
.header__icon--github {
  width: 40px;
  height: 40px;
  background-color: aqua;
}
.header__icon--qiita {
  width: 48px;
  height: 14.63px;
  background-color: aqua;
}

/****************************
main
*****************************/
.main {
  padding-top: 184px;
  height: 620px;
  width: 100%;
  text-align: center;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
}
.main h1 {
  margin: 0 auto;
  margin-bottom: 72px;
  height: 70px;
  width: 400px;
  line-height: 70px;
}
.main h2 {
  margin: 0 auto;
  height: 70px;
  width: 366px;
  line-height: 70px;
}

/****************************
about
*****************************/

.about {
  width: 100%;
  height: 600px;
  background-color: #4C5C96;
}
.about__container {
  margin: 0 auto;
  width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  width: 574px;
  height: 229px;
}
.about__content h2 {
  margin-bottom: 19px;
  padding-bottom: 19px;
  text-align: right;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 0.1em;
}
.about__content h3 {
  margin-bottom: 19px;
  text-align: right;
}
.about__content p {
  line-height: 1.4;
}
.about__img {
  width: 250px;
  height: 250px;
}
.about__img img {
  border-radius: 50%;
}

/****************************
service
*****************************/
.service {
  width: 100%;
  height: 600px;
  background-color: #45558D;
}
.service__container {
  margin: 0 auto;
  width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 250px;
  height: 250px;
}
.service__img img {
  border-radius: 50%;
}
.service__content {
  width: 574px;
  height: 250px;
}
.service__content h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}
.service__explanation {
  display: flex;
  justify-content: space-between;
}
.service__item {
  width: 180px;
  height: 180px;
}
.service__item h3 {
  margin-bottom: 16px;
  text-align: center;
}
.service__item p {
  letter-spacing: 0.12em;
}

/****************************
work
*****************************/
.work {
  width: 100%;
  height: 600px;
  background-color: #3F4E85;
}
.work__container {
  margin: 0 auto;
  width: 880px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work__content {
  width: 574px;
  height: 329px;
}
.work__content h2 {
  margin-bottom: 19px;
  padding-bottom: 19px;
  text-align: right;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 0.1em;
}
.work__explanation {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.work__item {
  width: 180px;
  height: 180px;
}
.work__img {
  width: 250px;
  height: 250px;
}
.work__img img {
  border-radius: 50%;
}
.work__btn {
  text-align: right;
}
.work__btn img {
  width: 20px;
  height: 20px;
}
.work__btn a {
  display: inline-block;
}

/****************************
contact
*****************************/
.contact {
  padding-top: 82px;
  width: 100%;
  height: 750px;
  background-color: #2E3141;
}
.contact__container {
  margin: 0 auto;
  width: 400px;
  height: 585px;
}
.contact h2 {
  margin-bottom: 62px;
  text-align: center;
}
.contact form {
  height: 472px;
}
.contact__item {
  margin-bottom: 30px;
  width: 100%;
  height: 76px;
}
.contact__item:nth-of-type(3) {
  margin-bottom: 44px;
  height: 174px;
}
.contact__item p {
  margin-bottom: 8px;
}
input {
  width: 100%;
  height: 44px;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
}
textarea {
  width: 100%;
  height: 142px;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
}
input[type="submit"]{
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

/****************************
footer
*****************************/
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F3F3F;
}

